@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkGray text-neonGreen font-sans;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.neon-title {
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(34, 34, 34, var(--tw-bg-opacity));
  color: #ffffff;
}

.dark .text-neonGreen {
  color: #00ff80;
}

.dark .bg-darkGray {
  background-color: #222;
}

/* Category Menu Styling */
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button.bg-neonGreen {
  background-color: #39ff14;
  color: #121212;
}

button.bg-gray-800 {
  background-color: #333333;
  color: #ffffff;
}
