@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: theme('colors.darkGray');
   color: theme('colors.white');
}

.glow {
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

article {
    line-height: 1.75;
}

h1 {
    @apply text-neonGreen text-5xl font-bold text-center mt-10;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

.neon-title {
    color: #39ff14;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 40px #00ff80, 0 0 80px #00ff80;
}
